<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
      <button class="btn btn-secondary create-button" type="button" data-bs-toggle="modal" data-bs-target="#create-user-modal">إضافة مشرف</button>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">إسم المستخدم</th>
        <th scope="col">الدور الوظيفي</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((user, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row"><%= index+1 %></th>
          <td>
            <%= user.username %>
          </td>
          <td>
            <%= (user.role)?user.role:"لا يوجد" %>
          </td>
          <td>
            <% if(user.createdBy && user.createdBy.username){ %>
              <%= user.createdBy.username %>
            <% } else if(user.createdBy){ %>
              <%= user.createdBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <% if(user.updatedBy && user.updatedBy.username){ %>
              <%= user.updatedBy.username %>
            <% } else if(user.updatedBy){ %>
              <%= user.updatedBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <%= (user.createdAtArabic)?user.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (user.updatedAtArabic)?user.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-user-modal<%=index%>">تحديث</button>
            <%- include('update-modal', {index, user}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-user-modal<%=index%>">حذف</button>
            <%- include('delete-modal', {index, user}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>