<div class="modal fade" id="update-user-modal<%=i%>" tabindex="-1" aria-labelledby="update-user-modal-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-user-modal-label">إضافة مستخدم</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/users/update/<%=user._id%>" method="post" id="update-user-form-<%=user._id%>">
          <div class="mb-3">
            <label for="username" class="col-form-label fs-4">إسم المستخدم:</label>
            <input type="text" class="form-control" name="username" id="username-<%=user._id%>"
              value="<%=user.username%>">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label fs-4">كلمة المرور:</label>
            <input type="password" class="form-control" id="password-<%=user._id%>" name="password" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success update-user" userId="<%=user._id%>">حفظ</button>
      </div>
    </div>
  </div>
</div>