<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">من</th>
        <th scope="col">إلى</th>
        <th scope="col">النسبة (%)</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((bonus, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row"><%= index+1 %></th>
          <td>
            <%= bonus.from %>
          </td>
          <td>
            <%= bonus.to %>
          </td>
          <td>
            <%= bonus.percentage %>
          </td>
          <td>
            <% if(bonus.createdBy && bonus.createdBy.username){ %>
              <%= bonus.createdBy.username %>
            <% } else if(bonus.createdBy){ %>
              <%= bonus.createdBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <% if(bonus.updatedBy && bonus.updatedBy.username){ %>
              <%= bonus.updatedBy.username %>
            <% } else if(bonus.updatedBy){ %>
              <%= bonus.updatedBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <%= (bonus.createdAtArabic)?bonus.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (bonus.updatedAtArabic)?bonus.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-bonus-modal-<%=index%>">تحديث</button>
            <%- include('update-modal', {index, bonus}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-bonus-modal-<%=index%>">حذف</button>
            <%- include('delete-modal', {index, bonus}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>