<div class="modal fade" id="delete-<%= type %>-modal-<%= index %>" tabindex="-1" aria-labelledby="delete-<%= type %>-modal-label-<%= index %>"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="delete-<%= type %>-modal-label-<%= index %>">حذف بيانات</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-5">هل انت متأكد من الحذف؟</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <a href="/<%= type %>/delete/<%= dataItem._id %>" class="btn btn-danger">حذف</a>
      </div>
    </div>
  </div>
</div>