<div class="modal fade" id="update-<%= type %>-modal-<%= index %>" tabindex="-1" aria-labelledby="update-<%= type %>-modal-label-<%= index %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-<%= type %>-modal-label-<%= index %>">تحديث بيانات</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/<%= type %>/update/<%= dataItem._id %>" method="post" id="update-<%= type %>-form-<%= dataItem._id %>">
          <% if (type === 'users') { %>
            <%- include('inputs-fields/username', {id: `-${dataItem._id}`, value: dataItem.username}) %>
            <%- include('inputs-fields/password', {id: `-${dataItem._id}`}) %>
          <% } else if (type==='bonus') { %>
            <%- include('inputs-fields/bonus-from', {id: `-${dataItem._id}`, value: dataItem.from}) %>
            <%- include('inputs-fields/bonus-to', {id: `-${dataItem._id}`, value: dataItem.to}) %>
            <%- include('inputs-fields/percentage', {id: `-${dataItem._id}`, value: dataItem.percentage}) %>
          <% } else if (type==='productPrice') { %>
            <%- include('inputs-fields/product', {id: `-${dataItem._id}`, value: dataItem.product._id.toString(), products}) %>
            <%- include('inputs-fields/department', {id: `-${dataItem._id}`, value: dataItem.department._id.toString(), departments}) %>
            <%- include('inputs-fields/price', {id: `-${dataItem._id}`, value: dataItem.price}) %>
          <% } else if (type==='production' ) { %>
            <%- include('inputs-fields/date', {id: `-${dataItem._id}`, value: dataItem.date.toISOString().split('T')[0], classes: `update`}) %>
            <%- include('inputs-fields/worker', {id: `-${dataItem._id}`, value: dataItem.worker._id.toString(), workers}) %>
            <%- include('inputs-fields/product', {id: `-${dataItem._id}`, value: dataItem.product._id.toString(), products}) %>
            <%- include('inputs-fields/department', {id: `-${dataItem._id}`, value: dataItem.department._id.toString(), departments}) %>
            <%- include('inputs-fields/quantity', {id: `-${dataItem._id}`, value: dataItem.quantity}) %>
          <% } else { %>
            <%- include('inputs-fields/name', {id: `-${dataItem._id}`, value: dataItem.name}) %>
          <% } %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success update-<%= type %>" dataItemId="<%= dataItem._id %>">حفظ</button>
      </div>
    </div>
  </div>
</div>