<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title> <%= title %> </title>
  </head>

  <body data-page-type="<%= type %>">
    <%- include('components/header') %>

    <div class="container-xl">
      <%- include('components/filter-form', {...filters}) %>

      <% if(error) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div><%= error %></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <%- include(`components/form-modal`, {operation: 'create'}) %>
      <button class="btn btn-secondary mb-4 create-button" type="button" data-bs-toggle="modal" data-bs-target='#create-<%= type %>-modal'>إضافة</button>

      <% if (type === 'production') { %>
        <%- include('components/form-modal', {operation: 'salary'}) %>
        <button class="btn btn-secondary mb-4 create-button" type="button" data-bs-toggle="modal" data-bs-target="#salary-modal">إظهار المرتبات</button>
      <% } %>

      <% if(data.length > 0) { %>
        <%- include(`components/table`) %>

        <% if(filters.pagination.totalPages> 1) { %>
          <%- include('components/pagination', filters.pagination) %>
        <% } %>
      <% } else { %>
        <div class="alert alert-warning" role="alert">لا يوجد بيانات</div>
      <% } %>
    </div>

    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/filters.js"></script>
    <script src="/scripts/validation.js"></script>
    <script src="/scripts/script.js"></script>
  </body>

</html>