<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/bootstrap.rtl.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/pagination.css" />
  <link rel="stylesheet" href="/styles/dashboard.css" />
  <title>
    <%=title%>
  </title>
</head>

<body>
  <%- include('navbar') %>
  <div class="container-xl">
    <% if(data) { %>
      <%- include('filter-form') %>

      <!-- ---------------------------------------------------- -->
      <!-- ------------------ Components ---------------------- -->
      <!-- ---------------------------------------------------- -->
      <%if (type==='users' ) {%>
      <%- include('components/users') %>
      <%}%>

      <!-- ---------------------------------------------------- -->
      <!-- ---------------------------------------------------- -->
      <!-- ---------------------------------------------------- -->

      <%- include('pagination') %>
    <% } else { %>
      <div class="alert alert-warning" role="alert">
        لا يوجد مستخدمين
      </div>
    <% } %>



  </div>

  <script src="/scripts/bootstrap.bundle.min.js"></script>
  <script src="/scripts/users.js"></script>
  <script src="/scripts/table.js"></script>
</body>
</html>