<form action="users" id="filter-form" method="get">
  <div class="input-group mb-3">
    <label class="input-group-text" for="search">بحث</label>
    <input id="search" name="search" type="text" class="form-control" aria-label="search" aria-describedby="search" placeholder="إبحث بإسم المستخدم" value="<%=filters.search%>">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="search">ترتيب</span>
    <select class="form-select" id="sort" name="sort">
      <option value="createdAt" <%=(filters.sort.replace('-', '') === "createdAt") ? 'selected' : '' %>>تاريخ الإنشاء</option>
      <option value="username" <%=(filters.sort.replace('-', '') === "username") ? 'selected' : '' %>>إسم المستخدم</option>
      <option value="updatedAt" <%=(filters.sort.replace('-', '') === "updatedAt") ? 'selected' : '' %>>تاريخ آخر تحديث</option>
      <option value="role" <%=(filters.sort.replace('-', '') === "role") ? 'selected' : '' %>>الدور الوظيفي</option>
    </select>
    <span class="input-group-text" id="search">إختر للترتيب التنازلي</span>
    <div class="input-group-text">
      <input class="form-check-input mt-0" name="sortType" type="checkbox" aria-label="Checkbox for following text input" <%=(filters.sort.startsWith('-')) ? 'checked' : '' %>>
    </div>
  </div>
  <div class="input-group mb-3">
    <input type="submit" class="btn btn-dark" value="تطبيق">
  </div>
</form>
<script src="/scripts/filter-form.js"></script>