<% data.forEach((dataItem, index)=>{ %>
  <tr>
    <th class="table-dark" scope="row">
      <%= index+1 %>
    </th>

    <% try { %>
      <%- include(`../modules/${type}/table-components/data`, { dataItem }) %>
    <% } catch(error) { %>
      <td scope="col"><%= dataItem.name %></td>
    <% } %>

    <td>
      <%= (dataItem.createdBy && dataItem.createdBy.username) ? dataItem.createdBy.username : 'لا يوجد' %>
    </td>
    <td>
      <%= (dataItem.updatedBy && dataItem.updatedBy.username) ? dataItem.updatedBy.username : 'لا يوجد' %>
    </td>
    <td>
      <%= (dataItem.createdAtArabic)?dataItem.createdAtArabic:"لا يوجد" %>
    </td>
    <td>
      <%= (dataItem.updatedAtArabic)?dataItem.updatedAtArabic:"لا يوجد" %>
    </td>
    <td>
      <button class="btn btn-success" data-bs-toggle="modal"
        data-bs-target="#update-<%= type %>-modal-<%=index %>">تحديث</button>
      <%- include('../form-modal', {index, dataItem, operation: 'update'}) %>
    </td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#delete-<%= type %>-modal-<%= index %>">حذف</button>
      <%- include('../delete-modal', {index, dataItem}) %>
    </td>
  </tr>
<% }) %>