<td scope="col">
  <select class="form-select" name="product" form="filter-form">
    <option value="" selected <%=(!filters.product) ? "selected" : "" %>>إختر</option>
    <% products.forEach(product=> { %>
      <option value="objectid:<%= product._id %>" <%=(filters.product===product._id.toString() ) ? "selected" : "" %>>
        <%= product.name %>
      </option>
      <% }) %>
  </select>
</td>
<td scope="col">
  <select class="form-select" name="department" form="filter-form">
    <option value="" selected <%=(!filters.department) ? "selected" : "" %>>إختر</option>
    <% departments.forEach(department=> { %>
      <option value="objectid:<%= department._id %>" <%=(filters.department===department._id.toString() ) ? "selected"
        : "" %>>
        <%= department.name %>
      </option>
      <% }) %>
  </select>
</td>
<td scope="col">
  <div class="input-group">
    <select class="form-select">
      <option value="" <%=(filters.price.split(":").length===1) ? 'selected' : '' %>>يساوي</option>
      <option value="lt:" <%=(filters.price.split(":").length===2 && filters.price.split(":")[0]==='lt' ) ? 'selected'
        : '' %>>أقل من</option>
      <option value="lte:" <%=(filters.price.split(":").length===2 && filters.price.split(":")[0]==='lte' ) ? 'selected'
        : '' %>>أقل من أو يساوي</option>
      <option value="gt:" <%=(filters.price.split(":").length===2 && filters.price.split(":")[0]==='gt' ) ? 'selected'
        : '' %>>أكبر من</option>
      <option value="gte:" <%=(filters.price.split(":").length===2 && filters.price.split(":")[0]==='gte' ) ? 'selected'
        : '' %>>أكبر من أو يساوي</option>
    </select>
    <input type="number" class="form-control" name="price" form="filter-form" placeholder="الرقم"
      value='<%= (filters.price.split(":").length === 2) ? filters.price.split(":")[1] : filters.price.split(":")[0] %>'>
  </div>
</td>