<div class="modal fade" id="update-department-modal-<%= index %>" tabindex="-1" aria-labelledby="update-department-modal-label-<%= index %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="update-department-modal-label-<%= index %>">تحديث قسم</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/departments/update/<%= department._id %>" method="post" id="update-department-form-<%= department._id %>">
          <div class="mb-3">
            <label for="name-<%= department._id %>" class="col-form-label fs-4">إسم القسم:</label>
            <input type="text" class="form-control" name="name" id="name-<%= department._id %>" value="<%= department.name %>">
            <div class="text-danger mt-1" id="name-error-<%= department._id %>" style="display: none;"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success update-department" departmentId="<%= department._id %>">حفظ</button>
      </div>
    </div>
  </div>
</div>