<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">إسم العامل</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((worker, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row"><%= index+1 %></th>
          <td>
            <%= worker.name %>
          </td>
          <td>
            <% if(worker.createdBy && worker.createdBy.username){ %>
              <%= worker.createdBy.username %>
            <% } else if(worker.createdBy){ %>
              <%= worker.createdBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <% if(worker.updatedBy && worker.updatedBy.username){ %>
              <%= worker.updatedBy.username %>
            <% } else if(worker.updatedBy){ %>
              <%= worker.updatedBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <%= (worker.createdAtArabic)?worker.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (worker.updatedAtArabic)?worker.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-worker-modal-<%=index%>">تحديث</button>
            <%- include('update-modal', {index, worker}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-worker-modal-<%=index%>">حذف</button>
            <%- include('delete-modal', {index, worker}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>