<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">إسم المنتج</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((product, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row"><%= index+1 %></th>
          <td>
            <%= product.name %>
          </td>
          <td>
            <% if(product.createdBy && product.createdBy.username){ %>
              <%= product.createdBy.username %>
            <% } else if(product.createdBy){ %>
              <%= product.createdBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <% if(product.updatedBy && product.updatedBy.username){ %>
              <%= product.updatedBy.username %>
            <% } else if(product.updatedBy){ %>
              <%= product.updatedBy %>
            <% }else{ %>
              لا يوجد
            <% } %>
          </td>
          <td>
            <%= (product.createdAtArabic)?product.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (product.updatedAtArabic)?product.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-product-modal-<%=index%>">تحديث</button>
            <%- include('update-modal', {index, product}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-product-modal-<%=index%>">حذف</button>
            <%- include('delete-modal', {index, product}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>