<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">المنتج</th>
        <th scope="col">القسم</th>
        <th scope="col">السعر</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((productPrice, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row">
            <%= index+1 %>
          </th>
          <td>
            <%= (productPrice.product && productPrice.product.name) ? productPrice.product.name : 'لا يوجد' %>
          </td>
          <td>
            <%= (productPrice.department && productPrice.department.name) ? productPrice.department.name : 'لا يوجد' %>
          </td>
          <td>
            <%= productPrice.price %>
          </td>
          <td>
            <%= (productPrice.createdBy && productPrice.createdBy.username) ? productPrice.createdBy.username : 'لا يوجد' %>
          </td>
          <td>
            <%= (productPrice.updatedBy && productPrice.updatedBy.username) ? productPrice.updatedBy.username : 'لا يوجد' %>
          </td>
          <td>
            <%= (productPrice.createdAtArabic)?productPrice.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (productPrice.updatedAtArabic)?productPrice.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-product-price-modal-<%=index%>">تحديث</button>
            <%- include('update-modal', {index, productPrice}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-product-price-modal-<%=index%>">حذف</button>
            <%- include('delete-modal', {index, productPrice}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>