<div class="modal fade" id="create-production-modal" tabindex="-1" aria-labelledby="create-production-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="create-production-modal-label">تحديد سعر المنتج</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/production" method="post" id="create-production-form">
          <div class="mb-3">
            <label for="worker" class="col-form-label fs-4">العامل:</label>
            <select class="form-select" id="worker" name="worker">
              <option value="" selected>اختر العامل</option>
              <% workers.forEach(worker=> { %>
                <option value="<%= worker._id %>">
                  <%= worker.name %>
                </option>
                <% }) %>
            </select>
            <div class="text-danger mt-1" id="worker-error" style="display: none;"></div>
          </div>
          <div class="mb-3">
            <label for="product" class="col-form-label fs-4">المنتج:</label>
            <select class="form-select" id="product" name="product">
              <option value="" selected>اختر المنتج</option>
              <% products.forEach(product => { %>
                <option value="<%= product._id %>"><%= product.name %></option>
              <% }) %>
            </select>
            <div class="text-danger mt-1" id="product-error" style="display: none;"></div>
          </div>
          <div class="mb-3">
            <label for="department" class="col-form-label fs-4">القسم:</label>
            <select class="form-select" id="department" name="department">
              <option value="" selected>اختر القسم</option>
              <% departments.forEach(department => { %>
                <option value="<%= department._id %>"><%= department.name %></option>
              <% }) %>
            </select>
            <div class="text-danger mt-1" id="department-error" style="display: none;"></div>
          </div>
          <div class="mb-3">
            <label for="date" class="col-form-label fs-4">التاريخ:</label>
            <input type="date" class="form-control" id="date" name="date">
            <div class="text-danger mt-1" id="date-error" style="display: none;"></div>
          </div>
          <div class="mb-3">
            <label for="quantity" class="col-form-label fs-4">كمية الإنتاج:</label>
            <input type="number" class="form-control" id="quantity" name="quantity">
            <div class="text-danger mt-1" id="quantity-error" style="display: none;"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-success" id="create-production">إضافة</button>
      </div>
    </div>
  </div>
</div>