<div class="table-responsive">
  <table class="table table-hover table-striped-columns table-bordered border-dark align-middle caption-top">
    <caption class="mx-4 fs-5">
      <span>العدد: <%= data.length %></span>
    </caption>
    <thead>
      <tr class="table-dark">
        <th scope="col">الرقم</th>
        <th scope="col">العامل</th>
        <th scope="col">المنتج</th>
        <th scope="col">القسم</th>
        <th scope="col">كمية الإنتاج</th>
        <th scope="col">تاريخ الإنتاج</th>
        <th scope="col">سعر الإنتاج</th>
        <th scope="col">أنشئ بواسطة</th>
        <th scope="col">آخر تحديث بواسطة</th>
        <th scope="col">تاريخ الإنشاء</th>
        <th scope="col">تاريخ آخر تحديث</th>
        <th scope="col">تحديث</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((production, index)=>{ %>
        <tr>
          <th class="table-dark" scope="row">
            <%= index+1 %>
          </th>
          <td>
            <%= (production.worker && production.worker.name) ? production.worker.name : "لا يوجد" %>
          </td>
          <td>
            <%= (production.product && production.product.name)? production.product.name : 'لا يوجد' %>
          </td>
          <td>
            <%= (production.department && production.department.name)? production.department.name : 'لا يوجد' %>
          </td>
          <td>
            <%= production.quantity %>
          </td>
          <td>
            <%= production.arabicDate %>
          </td>
          <td>
            <%= production.cost %>
          </td>
          <td>
            <%= (production.createdBy && production.createdBy.username) ? production.createdBy.username : 'لا يوجد' %>
          </td>
          <td>
            <%= (production.updatedBy && production.updatedBy.username) ? production.updatedBy.username : 'لا يوجد' %>
          </td>
          <td>
            <%= (production.createdAtArabic)?production.createdAtArabic:"لا يوجد" %>
          </td>
          <td>
            <%= (production.updatedAtArabic)?production.updatedAtArabic:"لا يوجد" %>
          </td>
          <td>
            <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#update-production-modal-<%=index%>">تحديث</button>
            <%- include('update-modal', {index, production}) %>
          </td>
          <td>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-production-modal-<%=index%>">حذف</button>
            <%- include('delete-modal', {index, production}) %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>