<div class="mb-3">
  <label for="department<%= id %>" class="col-form-label fs-4">القسم:</label>
  <select class="form-select" id="department<%= id %>" name="department">
    <option value="" selected>اختر القسم</option>
    <% departments.forEach(department=> { %>
      <option value="<%= department._id %>"  <%= (value === department._id.toString())? 'selected' : '' %>><%= department.name %></option>
    <% }) %>
  </select>
  <div class="text-danger text-danger-department mt-1" style="display: none;"></div>
</div>